%section#services.padding-top-100.padding-bottom-30.light-gray-bg
  .container
    / HEADING BLOCK
    .heading-block.text-center
      %h3 Our Services
      %hr/
      %span.margin-top-20 We offer clients packages customized to their needs or you can choose from one of our 3 set packages with the following services

      / ### Pricely Professional Starts Here, Copy Paste Starts Here ###
    .pricely-chart.pricely-professional
      %section.pricely-chart-three.col-xs-12
        %ul.pricely-pro
          %li.pricely-inner.panel-info.col-xs-12.col-md-4
            %h3.panel-heading
              %span.pricely-label Silver
              %span.pricely-foreword Up to 3 Hours
              %span.reduced-price £349
              .pricely-figure
                %span.pricely-currency £
                %span.pricely-amount  261
              %span.pricely-button
                %a.btn.btn-info{:href => "#contact"} Enquire

            %ul.list-group
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span Photobooth
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span Photobooth attendant
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span Vibrant and fun propbox
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span Free guestbook
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span Option for guests to buy a key ring
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span USB with event pictures
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span Public Liability Insurance
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span GIFs
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span Interactive Touchscreen
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span Red Curtain Background
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span Unlimited visits to the booth
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span Social Media Uploads
              %li.list-group-item
                %span.glyphicon.glyphicon-ok.right
                %span Personalised messages
              %li.list-group-item
                %span.glyphicon.glyphicon-remove.x.right
                %span Green Screen Choice with choice of a variety of backgrounds.
              %li.list-group-item
                %span.glyphicon.glyphicon-remove.x.right
                %span Facial Recognition filters (snapchat style)
              %li.list-group-item
                %span.glyphicon.glyphicon-remove.x.right
                %span Red carpet and luxury rope
              %li.list-group-item
                %span.glyphicon.glyphicon-remove.x.right
                %span 5 free key rings and 2 4x6in picture frames.
              %li.list-group-item
                %span.glyphicon.glyphicon-remove.x.right
                %span Karaoke
              %li.list-group-item
                %span.glyphicon.glyphicon-remove.x.right
                %span Merryoke
              %li.list-group-item
                %span.glyphicon.glyphicon-remove.x.right
                %span Video messages
              %li.list-group-item
                %span.glyphicon.glyphicon-remove.x.right
                %span Theme/ logo on prints (artwork provided by customer)

            %li.pricely-inner.panel-info.col-xs-12.col-md-4
              %h3.panel-heading
                %span.pricely-label Gold
                %span.pricely-foreword Up to 4 Hours
                %span.reduced-price £399
                .pricely-figure
                  %span.pricely-currency £
                  %span.pricely-amount 299
                %span.pricely-button
                  %a.btn.btn-info{:href => "#contact"} Enquire

              %ul.list-group
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Photobooth
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Photobooth attendant
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Vibrant and fun propbox
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Free guestbook
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Option for guests to buy a key ring
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span USB with event pictures
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Public Liability Insurance
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span GIFs
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Interactive Touchscreen
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Red Curtain Background
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Unlimited visits to the booth
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Social Media Uploads
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Personalised messages
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Green Screen Choice with choice of a variety of backgrounds.
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Facial Recognition filters (snapchat style)
                %li.list-group-item
                  %span.glyphicon.glyphicon-remove.x.right
                  %span Red carpet and luxury rope
                %li.list-group-item
                  %span.glyphicon.glyphicon-remove.x.right
                  %span 5 free key rings and 2 4x6in picture frames.
                %li.list-group-item
                  %span.glyphicon.glyphicon-remove.x.right
                  %span Karaoke
                %li.list-group-item
                  %span.glyphicon.glyphicon-remove.x.right
                  %span Merryoke
                %li.list-group-item
                  %span.glyphicon.glyphicon-remove.x.right
                  %span Video messages
                %li.list-group-item
                  %span.glyphicon.glyphicon-remove.x.right
                  %span Theme/ logo on prints (artwork provided by customer)

            %li.pricely-inner.panel-info.col-xs-12.col-md-4
              %h3.panel-heading
                %span.pricely-label Platinum
                %span.pricely-foreword Up to 5 Hours
                %span.reduced-price £499
                .pricely-figure
                  %span.pricely-currency £
                  %span.pricely-amount 374
                %span.pricely-button
                  %a.btn.btn-info{:href => "#contact"} Enquire

              %ul.list-group
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Photobooth
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Photobooth attendant
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Vibrant and fun propbox
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Free guestbook
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Option for guests to buy a key ring
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span USB with event pictures
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Public Liability Insurance
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span GIFs
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Interactive Touchscreen
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Red Curtain Background
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Unlimited visits to the booth
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Social Media Uploads
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Personalised messages
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Green Screen Choice with choice of a variety of backgrounds.
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Facial Recognition filters (snapchat style)
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Red carpet and luxury rope
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span 5 free key rings and 2 4x6in picture frames.
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Karaoke
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Merryoke
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Video messages
                %li.list-group-item
                  %span.glyphicon.glyphicon-ok.right
                  %span Theme/ logo on prints (artwork provided by customer)

    .heading-block.text-center.padding-top-50
      %h3 Need a little more?

      %hr/
      %span.margin-top-20.margin-bottom-20 Pick and choose from the extras to add a little more glam to your event
      %ul
        %li Host banners – Please enquire for more details
        %li Personalised booth skins
        %li 50 pounds per extra hour
        %li Large portraits for guest to leave a message and sign
        %li Guest survey with choice of questions
        %li Design of artwork/ theme
