/ PROMO
%section.promo.pink-bg.padding-bottom-60.padding-top-60
  .container
    .row
      .col-md-7
        %h4.text-white.text-uppercase.no-margin
          %strong Cant find your perfect package? Contact us now for your customised package
        -#%p.text-white
        -#  Give us a call or send us an enquiry as
        -#  our booth is customizable, your prints and whole user experience can be every bit complementary to your event decoration, theme, occasion.
        -#  We incorporate your colours, theme, branding logos or any other creative ideas you have in mind to make this a perfect event!

      .col-md-5.text-right
        = link_to "Get in touch", contact_path, class: "waves-effect waves-light btn btn-white margin-right-20"
