%section#about.welcome.padding-top-100.padding-bottom-100
  .container
    / HEADING BLOCK
    .heading-block.text-center
      %h1 TURNING MOMENTS INTO MEMORIES
      %hr/
      %span.margin-top-20 Whether it’s a small, closed event or a fully packed festival with thousands of people, our expertise, capability and no ‘one size fits all’ approach means the we can deliver the level of quality and service that you need, when you need it.
    / Icon Row
    .text-center
      = image_tag "site/photstrip.png", class: "img-responsive", style: "width: 100%"
    .services-welcome.text-center
      %ul.row
        / Services
        %li.col-md-4
          .icon
            %i.ion-ios-speedometer-outline
          %h5.margin-top-40.margin-bottom-20 who we are
          %p
            Whether you are planning a corporate event, festival, wedding, prom, ball or private party, our technical knowledge, expertise and customer insight means we can offer you a unique solution to meet your specific needs for your event.

        / Services
        %li.col-md-4
          .icon
            %i.ion-ios-color-wand-outline
          %h5.margin-top-40.margin-bottom-20 what we do
          %p
            Our capability expands beyond just delivering top quality photo booths. Our approach means we understand your needs and will work with you each step of the way to develop an unforgettable event that captures and turns moments into memories.

        / Services
        %li.col-md-4
          .icon
            %i.ion-ios-infinite-outline
          %h5.margin-top-40.margin-bottom-20 our great team
          %p
            We believe that quality, affordability and customer service all go hand in hand with delivering the best customer experience. At FAMA photo booths our business mission is to simply to offer quality event management in a unique and professional way.
            A professional attendant will guide and assist your guests throughout the event to help capture all your famamazing moments ensuring everything goes smoothly.
