%section.home-slider#home
  .slider
    %ul.slides

      %li
        = image_tag "site/pb-10.jpg"
        .caption.center-align
          %h3.white-text.font-bold 25% off on all packages booked now
          %h5.light.white-text.text-lighten-3 Take advantage of our biggest discount ever and book now!*
          %p *Offer ends on the 17th of May 2017
          = link_to "Get in touch", contact_path, class: "btn btn-info"

      %li
        = image_tag "site/main-2.jpg"
        .caption.center-align
          %h3.white-text.font-bold We are here for you
          %h5.light.white-text.text-lighten-3 ...providing warm, sincere and engaging service that ensures your guests have fun and feel valued

      %li
        = image_tag "site/main-7.jpg"
        .caption.center-align
          %h3.white-text.font-bold We are dedicated to our goal
          %h5.light.white-text.text-lighten-3 Adding fun and lasting memories to your event

:javascript
  $(document).ready(function(){
    $('.slider').slider({
      height: "600"
    });
  });
