%section.home-slider#home
  .slider
    %ul.slides
      - @homepage_images.each do |image|
        %li
          = image_tag(image.image.url)
          .caption.center-align
            %h3.white-text.font-bold #{image.title}
            %h5.light.white-text.text-lighten-3 #{image.description}
            %p #{image.small_print}
            -#= link_to "Get in touch", contact_path, class: "btn btn-info"

      -#%li
      -#  = image_tag "site/main-2.jpg"
      -#  .caption.center-align
      -#    %h3.white-text.font-bold We are here for you
      -#    %h5.light.white-text.text-lighten-3 ...providing warm, sincere and engaging service that ensures your guests have fun and feel valued
      -#
      -#%li
      -#  = image_tag "site/main-7.jpg"
      -#  .caption.center-align
      -#    %h3.white-text.font-bold We are dedicated to our goal
      -#    %h5.light.white-text.text-lighten-3 Adding fun and lasting memories to your event

:javascript
  $(document).ready(function(){
    $('.slider').slider({
      height: "600"
    });
  });
