%section.home-slider#home
  .slider
    %ul.slides
      - @homepage_images.each do |image|
        %li
          = image_tag(image.image.url)
          .caption.center-align
            %h3.white-text.font-bold #{image.title}
            %h5.light.white-text.text-lighten-3 #{image.description}
            %p #{image.small_print}

:javascript
  $(document).ready(function () {
    $('.slider').slider({
    height: "600"
   });
  });
