%section

  #myCarousel.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      - @homepage_images.each_with_index do |image, index|
        %li{"data-target"=>"#myCarousel", "data-slide-to"=>index, :class=> index == 0 ? 'active' : ''}

    .carousel-inner
      - @homepage_images.each_with_index do |image, index|
        .carousel-item{:class => index == 0 ? 'active' : ''}
          = image_tag(image.image.url, class: "d-block w-100")
          .carousel-caption.d-none.d-md-block
            %h3.white-text.font-bold #{image.title}
            %h5.light.white-text.text-lighten-3 #{image.description}
            %p #{image.small_print}


    %a.carousel-control-prev{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Next
