-#%section.padding-top-100.padding-bottom-100
-#  .container
-#    / HEADING BLOCK
-#    .heading-block.text-center.margin-bottom-80
-#      %h3 Our Expert Team Members
-#      %hr/
-#      %span.margin-top-20 The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless crew the Minnow would be lost. the Minnow always wanted to have a neighbor just like you. I've always wanted to live in a neighborhood with you.
-#  / Team
-#  .expert-team
-#    .container
-#      %ul.row
-#        / TEAM MEMBER
-#        %li.col-md-3
-#          %article.z-depth-1.padding-30
-#            .img-circle
-#              = image_tag "team-img-1.jpg"
-#              %h5 James Hopper
-#              %span Lead Developer
-#              %p We finally got a piece of the pie. Makin' your way in the world today week long.
-#              %ul.social-icons
-#                %li
-#                  %a{:href => "#."}
-#                    %i.fa.fa-facebook
-#                %li
-#                  %a{:href => "#."}
-#                    %i.fa.fa-twitter
-#                %li
-#                  %a{:href => "#."}
-#                    %i.fa.fa-google
-#        / TEAM MEMBER
-#        %li.col-md-3
-#          %article.z-depth-1.padding-30
-#            .img-circle
-#              = image_tag "team-img-1.jpg"
-#              %h5 martin guptil
-#              %span web Developer
-#              %p We finally got a piece of the pie. Makin' your way in the world today week long.
-#              %ul.social-icons
-#                %li
-#                  %a{:href => "#."}
-#                    %i.fa.fa-facebook
-#                %li
-#                  %a{:href => "#."}
-#                    %i.fa.fa-twitter
-#                %li
-#                  %a{:href => "#."}
-#                    %i.fa.fa-google
-#        / TEAM MEMBER
-#        %li.col-md-3
-#          %article.z-depth-1.padding-30
-#            .img-circle
-#              = image_tag "team-img-1.jpg"
-#              %h5 andrew hilson
-#              %span Designer
-#              %p We finally got a piece of the pie. Makin' your way in the world today week long.
-#              %ul.social-icons
-#                %li
-#                  %a{:href => "#."}
-#                    %i.fa.fa-facebook
-#                %li
-#                  %a{:href => "#."}
-#                    %i.fa.fa-twitter
-#                %li
-#                  %a{:href => "#."}
-#                    %i.fa.fa-google
-#        / TEAM MEMBER
-#        %li.col-md-3
-#          %article.z-depth-1.padding-30
-#            .img-circle
-#              = image_tag "team-img-1.jpg"
-#              %h5 robert jakis
-#              %span Marketing
-#              %p We finally got a piece of the pie. Makin' your way in the world today week long.
-#              %ul.social-icons
-#                %li
-#                  %a{:href => "#."}
-#                    %i.fa.fa-facebook
-#                %li
-#                  %a{:href => "#."}
-#                    %i.fa.fa-twitter
-#                %li
-#                  %a{:href => "#."}
-#                    %i.fa.fa-google