%section.padding-bottom-100.padding-top-100
  .container
    / HEADING BLOCK
    .heading-block.text-center.margin-bottom-80
      %h3 Our Work Process
      %hr/
      %span.margin-top-20 The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless crew the Minnow would be lost. the Minnow always wanted to have a neighbor just like you. I've always wanted to live in a neighborhood with you.
    .work-process
      %ul.icon-follow
        %li
          .icon
            %i.icon-bulb
          %h6.text-uppercase Ideas
        %li
          .icon
            %i.icon-puzzle
          %h6.text-uppercase plans
        %li
          .icon
            %i.icon-pencil
          %h6.text-uppercase Design
        %li
          .icon
            %i.icon-layers
          %h6.text-uppercase development
        %li
          .icon
            %i.icon-rocket
          %h6.text-uppercase launch
      %p.into-type And they're always glad you came. And you know where you were then. Girls were girls and men were men. Mister we could use a man like Herbert Hoover again. They call him Flipper Flipper faster than lightning.
