# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 46aad498b540c1421a6eba39357f7edd1ad910e5187e1e08d2a7bf89b72dc4d5d1909533145f05f50d8d172d8702a46ea3f992f80f6d57f57730c9b4f959ff5e

test:
  secret_key_base: e89eb8b24ae379eefe88890df336049838d2d6a7b74d82f1ab3e6e151a215c992ca3836c0c5dd72b5ad12eb2a4721fb706668ee6375d0ba1d9351efabc0ea880

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

