%section.padding-bottom-29
  .container
    .text-center
      %h1.text-uppercase.letter-space-4.color-primary-pink.margin-bottom-50 Thank you
      %h2.letter-space-4.color-primary-pink.margin-bottom-50 Your payment has gone through and you will shortly receive an email receipt. We may ask the receipt so its important to keep it handy. If you have any issues at all please contact us