/ Social Icon
%ul.social-icons
  %li
    = link_to "https://www.facebook.com/famaphotobooths/", target: "_blank" do
      %i.fa.fa-facebook
  %li
    %a{:href => "#."}
      %i.fa.fa-twitter
  %li
    = link_to "https://www.instagram.com/famaphotobooths/", target: "_blank" do
      %i.fa.fa-instagram